SpliceComponent input-dim=40 context=-4:-3:-2:-1:0:1:2:3:4 const-component-dim=0
FixedAffineComponent matrix=exp/nnet/lda.mat
AffineComponentPreconditionedOnline input-dim=360 output-dim=3000 alpha=4.0 num-samples-history=2000 update-period=4 rank-in=20 rank-out=80 max-change-per-sample=0.075 learning-rate=0.01 param-stddev=0.0182574185835 bias-stddev=0.5
PnormComponent input-dim=3000 output-dim=300 p=2
NormalizeComponent dim=300
AffineComponentPreconditionedOnline input-dim=300 output-dim=2057 alpha=4.0 num-samples-history=2000 update-period=4 rank-in=20 rank-out=80 max-change-per-sample=0.075 learning-rate=0.01 param-stddev=0 bias-stddev=0
SoftmaxComponent dim=2057